pkgbase = xfer9860-git
	pkgdesc = A linux app for sending and recieving data from a casio calculator
	pkgver = r10.b869779
	pkgrel = 1
	url = https://github.com/sanjay900/xfer9860
	arch = x86_64
	license = GPL2
	makedepends = scons
	depends = libusb
	provides = xfer9860
	conflicts = xfer9860
	source = xfer9860::git+https://github.com/sanjay900/xfer9860.git
	source = xfer9860-r10.b869779.patch
	sha256sums = SKIP
	sha256sums = 199532c548b0e123b9db9d866c1d0bcdd3af5fbd9b2db498a454ec202a07faa6

pkgname = xfer9860-git
